@model WebApp.Dto.Category.CategoryDetailsDto;
@{
    ViewData["Title"] = "show";
}

    <div class="m-0 row justify-content-start">
        <div class=" p-2 col-auto">
            <figure>
                <blockquote class="blockquote">
                    <h4 class="display-6">@Html.DisplayFor(modelItem => Model.Name)</h4>
                </blockquote>                                
            </figure>
            <hr/>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h4 class="display-6">Descripción</h4>
                </blockquote>
                <figcaption class="blockquote-footer">
                    @Html.DisplayFor(modelItem => Model.Description)
                </figcaption>                                
            </figure>
            <hr/>
        </div>    
    </div>
<br/>
<p>
    <a class="btn" asp-controller="Category" asp-action="Index">Regresar</a>
</p>